@import "./reset";

* { box-sizing: border-box; }

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 100vh;

	position: fixed;

	background-color: rgb(212 212 212);
	border-right: 1px solid black;

	.title {
		font-size: 40px;

		writing-mode: vertical-lr;
	}
}

.container {
	width: 10000px;
	height: 100vh;
	overflow: hidden;

	position: fixed;
	left: 50px;

	background-color: rgb(212 212 212);

	white-space: nowrap;

	.section {
		width: 100vw;
		height: 100vh;

		position: absolute;
		top: 0;

		transition: transform .5s;

		&.is-active {
			transform: translate3d(0,0,0);
		}

		&__1 {
			left: 50px;

			background-color: pink;

			transform: translate3d(calc(100% - 200px),0,0);
		}

		&__2 {
			left: 100px;

			background-color: green;

			transform: translate3d(calc(100% - 200px),0,0);
		}
	}
}
