@import "./reset";

* { box-sizing: border-box; }

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

$bar-width : 50px;
$section-count: 3;

.container {
	width: 100vw;
	overflow: hidden;

	position: fixed;
	top: 0;
	left: 0;

	background: transparent;
	background-color: rgb(212 212 212);

	.intro {
		width: calc(100vw - ($bar-width * $section-count));
		height: 100vh;
		overflow: hidden;

		position: relative;

		background-color: #f2d388;

		.nav {
			display: flex;
			align-items: center;
			justify-content: center;

			width: $bar-width;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;

			border-right: 1px solid black;

			.title {
				font-size: 40px;

				writing-mode: vertical-lr;
			}
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			min-width: 400px;
			height: 100%;

			position: absolute;
			top: 0;
			left: $bar-width;

			transition: width .3s;

			.title {
				position: absolute;
				bottom: 0;
				left: 0;

				font-weight: bold;
				line-height: .8;
				white-space: nowrap;

				transition: font-size .3s;
			}

			.sub-title {
				font-size: 20px;
				text-align: center;
			}

			.text {
				position: absolute;
				top: 5%;
				right: 5%;

				text-align: left;
			}
		}
	}

	.section {
		display: flex;
		justify-content: flex-start;

		width: calc(100vw - ($bar-width * $section-count));
		height: 100vh;

		position: absolute;
		top: 0;

		white-space: nowrap;

		transition: transform .5s;

		&__1 {
			background-color: #c98474;

			transform: translateX(calc(100vw - 150px));
		}

		&__2 {
			background-color: #874c62;

			transform: translateX(calc(100vw - 100px));
		}

		&__3 {
			background-color: #a7d2cb;

			transform: translateX(calc(100vw - 50px));
		}

		.banner {
			width: $bar-width;
			height: 100%;

			border-right: 1px solid #000;
		}

		.content {
			width: calc(100% - $bar-width);
			height: 100vh;
			padding: 100px;
			overflow: auto;

			text-align: center;
			vertical-align: middle;
		}
	}
}
